In [20]:
import numpy as np
import pandas as pd

data = pd.read_csv('data/iris.csv')
def softmax(x):
    """Compute softmax values for each sets of scores in x."""
    e_x = np.exp(x - np.max(x))
    return e_x / e_x.sum(axis=0) # only difference

In [21]:
output_vector = {
    
    'setosa':[1,0,0],
    'veriscolor':[0,1,0],
    'virginica':[0,0,1]
}
vector_df = pd.DataFrame.from_dict(output_vector)
vector_df = vector_df.transpose()

In [22]:
vector_df['Species'] = vector_df.index
vector_df.reset_index(inplace=True)
vector_df.drop('index',axis=1,inplace=True)

In [23]:
data = pd.merge(data,vector_df)
data = data.drop('Unnamed: 0',axis=1)

In [24]:
X = data[['SepalLength','SepalWidth','PetalLength','PetalWidth']].values
y = data[[0,1,2]].values

In [25]:
X = X.T
y = y.T
print(X.shape)
print(y.shape)

(4, 100)
(3, 100)

In [26]:
test = [[1,2,3],[1,2,3],[3,2,1]]
test_np = np.array(test)

In [34]:
np.random.seed(42)
w1 = np.random.rand(5,4)
b0 = np.ones((5,100))
w2 = np.random.rand(4,5)
b1 = np.ones((4,100))
w3 = np.random.rand(3,4)
b2 = np.ones((3,100))
alpha = 0.1
loss = []

# Forward Pass
for i in range(100000):

    x1 = np.tanh(w1@X+b0)
    x2 = np.tanh(w2@x1+b1)
    x3 = softmax(w3@x2+b2)
    if i%10000==0:
        print('Loss')
        loss_ = -np.mean(np.sum(np.multiply(y,np.log(x3))))
        print(loss_)
        loss.append(loss_)
    ## Delta Calculation
    ## Assuming Loss function is MSE

    delta_3 = (x3-y)/489

    delta_2 = np.multiply(w3.T@delta_3,1-np.power(x2,2))

    delta_1 = np.multiply(w2.T@delta_2,1-np.power(x1,2))

    ## Weight Update
    ## Learning Rate

    w1 = w1 - (alpha*delta_1@X.T)
    b0 = b0 - (alpha*delta_1)
    w2 = w2 - (alpha*delta_2@x1.T)
    b1 = b1 - (alpha*delta_2)
    w3 = w3 - (alpha*delta_3@x2.T)
    b2 = b2 - (alpha*delta_3)

Loss
109.16267465721614
Loss
23.61290077498633
Loss
13.016640812918805
Loss
8.802146183621426
Loss
6.60028333712974
Loss
5.261614290663859
Loss
4.3663854803964215
Loss
3.7274201807525653
Loss
3.2493107147675584
Loss
2.8785391149011037

In [37]:
pd.DataFrame(np.round(x3))

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0